@import "@fontsource-variable/inter";

/* Primary Persian UI Font Family */
@font-face {
  font-family: 'Vazirmatn';
  src: url('../fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  unicode-range: U+0600-06FF, U+200C-200E, U+FB8A, U+067E, U+0686, U+06AF;
}

@font-face {
  font-family: 'Vazirmatn-Medium';
  src: url('../fonts/Vazirmatn-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  unicode-range: U+0600-06FF, U+200C-200E, U+FB8A, U+067E, U+0686, U+06AF;
}

/* Persian Subtitle Font - IRANSansX */
@font-face {
  font-family: 'IRANSansXFaNum-Medium';
  src: url('../fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
